/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
  border: solid 1px #e4ebf3;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px #333333;
}
.heading {
  color: #0b69ff;
}
.para {
  font-size: 20px;
}
.button{
  background-color: #0b69ff;
  padding: 10px 30px;
  border: 0px solid;
  border-radius: 8px;
  font-size: 15px;
  color: white;
}
